<!DOCTYPE html>
<html>
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="icon" href="/static/icons/mops_ico.jpg" type="image/jpeg" />
  <title>Ссылка</title>
  <style>
    .icon-hover {
        transition: 0.3s;
        cursor: pointer;
    }
    .icon-hover:hover {
        filter: brightness(50%);
    }
  </style>
 </head>
 <body>
     <div class="go_map">
       <a href="/map">
           <img src="/static/icons/map.png" width="635" height="830" alt="Иконка" class="icon-hover">
       </a>
     </div>
     <div class="go_input">
       <a href="/input">
           <img src="/static/icons/img.png" width="1270" height="1660" alt="Иконка" class="icon-hover">
       </a>
     </div>
 </body>
</html>
